node_modules
npm-debug.log
dist
coverage
.git
.github
.vscode
*.md
.env
.env.*
*.log
test
__tests__
jest.config.js
.eslintrc.json
*.test.ts
*.spec.ts
public
web
web-package.json
scripts
tailwind.config.js
sbom.json
