apiVersion: batch/v1
kind: CronJob
metadata:
  name: trivy-scanner
  namespace: autofix
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: trivy
            image: aquasec/trivy:latest
            command:
            - trivy
            - image
            - --severity=HIGH,CRITICAL
            - autofix/code-analyzer:latest
          restartPolicy: OnFailure
