apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: auto-repair-hpa
  namespace: autofix
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: auto-repair
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
