apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: result-aggregator-netpol
  namespace: autofix
spec:
  podSelector:
    matchLabels:
      app: result-aggregator
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: orchestrator
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: postgres
